@{
    ViewBag.Title = "Home Page";
}
    <style>
        .home {
            background-color: #b3b3b3;
            color: white;
            margin: 20px;
            padding: 5px;
        }
    </style>

<div class="home">
    <h1>

        <center>Welcome! </center><br />

        @*Display user thats signed in profile picture*@
        <center>
            <img src="@Url.Action("UserPhotos", "Sellers" )" style="width:170px;height:210px; background: #FFFFFF;
            margin: auto;
            -moz-border-radius: 60px;
            border-radius: 100px;
            padding: 6px;
            box-shadow: 0px 0px 20px #888;" /> 
        </center>
        <center><br />Ready to Flip It?</center>
    </h1>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Navigate to register at the top right to register for an account so you can view listings as well as create listings
        </p>
        <p><a class="btn btn-default" href="http://localhost:63116/Account/Register">Or register here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See Items For Sale</h2>
        <p>Looking for the new Nintendo Switch that your kid keeps begging you for? Why spend $200+ at the store when you can easily find someone selling it here! </p>
        <p><a class="btn btn-default" href="http://localhost:63116/Items">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clear out clutter</h2>
        <p>Flip It! makes it easy to get rid of items you may have been holding on to for years, putting more $$ in your pocket!</p>
        <p><a class="btn btn-default" href="http://localhost:63116/Items/Create">Create a listing &raquo;</a></p>
    </div>
</div>

<div class="row">
    <h1>Flip It!</h1>
    <p class="lead">FLip It! is a free web application created by Deja Ameringer using C#, HTML, CSS and JavaScript.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>